@charset "utf-8";
/* CSS Document */
.tnow {
	background-color: #FFFFFF !important;
}
.h_left {
	width: 640px;
	height: auto;
	float: left;
	background-color: #EBEBEB;
}
.h_left>div {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: #FFF solid 1px;
	background-color: #FFF;
}
.tags {
	overflow: hidden;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	cursor:pointer;
}
.tags>li {
	float: left;
	display: block;
	margin-right: 3px;
	margin-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
	border: #FFF solid 1px;
	border-bottom: none;
	background-color: #CCC;
	font-size: 16px;
}
.h_right {
	width: 310px;
	height: auto;
	float: right;
	background-color: #096;
}
.owner {
	width: auto;
	height: 65px;
	padding: 12px;
	background-color: #609;
}
.owner:hover {
	background-color: #639;
	}
.h_right *{
	font-size:14px;
	color:#FFF;
	}
.owner>img {
	width: 60px;
	height: 60px;
	border: #FFF solid 3px;
	float: left;
}
.owner>.username{
	font-size:22px;
	color:#FFF;
	font-weight:bolder;
	float: left;
	padding: 15px;
	padding-top:0px;
	padding-bottom:0px;
	}
.owner>.addf{
	display: inline-block;
    margin-left: 40px;
    width: 180px;
	
	}
.username>img{
	float: left;
    height: 24px;
    margin-right: 4px;
    margin-top: 5px;
    width: 24px;
	}
.ntalk{
	width:auto;
	height:65px;
	background-color:#069;
	padding: 10px;
	word-wrap: break-word;
	overflow-x: none;
	overflow-y: hidden;
	}
.ntalk:hover{
	background-color:#06C;
	cursor: text;
	}










