@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "微软雅黑";
	font-size:13px;
	
}
a{
	text-decoration:none;
	color: #069;;
}
a:hover{
	color:#CCC;
}
#nav_bar a {
	color:#FFF;
}
#nav_bar a:hover{
	color:#000;
}
.loginbox a{
	margin-left:10px;
}
.login_btn{/*登录按钮*/
	color: #060;
	font-weight:bolder;
}

#nav_bar {
	position: relative;
	left: 0px;
	top: -26px;
	width: 100%;
	height: 30px;
	background-color: #CCC;
	z-index: 2;
}
#login_bar {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 30px;
	/*background-color: #0C6;*/
	z-index: 2;
}
#head_nav {
	position: relative;
	left: 0px;
	top: -26px;
	width: 100%;
	height: 90px;
	background-color: #9CC;
	z-index: 2;
}
#wrapper {
	position: relative;
	left: 0px;
	top: -13px;
	width: 100%;
	height: auto;/*change to auto finally*/
	overflow: hidden;
	border-bottom: dashed #999999 2px;
	/*background-color: #F6C;*/
	z-index: 4;
}

#main {
	position: relative;
	display: block;
	top: -52px;
	margin: 0 auto;
	width: 960px;
	height: auto;
	overflow: hidden;
	/*background-color: #099;*/
	z-index: 1;
}
#left_content {
	position: relative;
	left: 0px;
	top: -26px;
	width: 630px;
	height: auto;
	/*overflow: hidden;*/
	/*background-color: #9C6;*/
	z-index: 2;
}
#right_content {
	position: absolute;
	left: 630px;
	top: -26px;
	width: 330px;
	height: auto;
	/*overflow: hidden;*/
	/*background-color: #93C;*/
	z-index: 2;
}
#right_notice {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
	/*background-color: #069;*/
	z-index: 2;
}
#right_talk {
	position: relative;
	left: 0px;
	top: -23px;
	width: 100%;
	height: auto;
	overflow: hidden;
	/*background-color: #0C3;*/
	z-index: 2;
}
#theme {
	position: relative;
	left: 0px;
	top: -42px;
	width: 100%;
	height: auto;
	/*background-color: #C33;*/
	z-index: 2;
}
#user_rank {
	position: relative;
	left: 0px;
	top: -58px;
	width: 100%;
	height: auto;
	/*background-color: #FF6;*/
	z-index: 2;
}
#class_nav {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: auto;
	/*background-color:#090;*/
	z-index: 2;
}
#comment {
	position: relative;
	left: 0px;
	top: -16px;
	width: 100%;
	height: auto;
	/*background-color:#C3F;*/
	z-index: 2;
}
.copyright {
	display: block;
	height: 30px;
}




/*************************************************/

#login_form{
	display:none;
}

/*************************************************/


#head_nav *{
	display: inline-block;
}
#head_nav>ul{
	position:absolute;
	top:30px;
	right:450px;
	}
#head_nav>ul>li{
	margin-left:20px;
	margin-right:20px;
	
	}
#head_nav>ul>li>a{
	font-size:18px;
	}
.now{
	color:#000;
	}
#head_nav>form{
	display: inline-block;
	float: none !important;/*清除float:right*/
	top:30px;
	float:right;
	position:absolute;
	right: 20px
	}
#head_nav>form>input{
	width:200px;
	}
#search-box button{/*按钮样式*/
	display:block;
	float:right;
	background:url(../img/search.gif);
	width:20px;
	height:20px;
	border:0px;
	margin-left:10px;
	cursor:pointer;
	}
/*************************************************/

.navbarlist{
	display:block;
	float: right;
    margin-right: 179px;
	margin-top: 5px;
}
.navbarlist>li{
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
}
.navbarlist ul{
	display:none;
}

/*************************************************/

.classlist{
	/*padding-right: 10px;*/
	width: 620px;
}
.classlist>ul{
	display: inline-block;
	margin-right:45px;
	margin-left:12px;
	margin-bottom:3px;
	margin-top:3px;
}
.classlist>ul>li>img{
	width:133px;
	height:35px;
}

/*************************************************/

.top_three{
}
.top_three>ul>li{
	display:inline-block;
}

/*************************************************/

#theme>ul{
	display:block;
	margin-left:10px;
	margin-right:10px;
	border-bottom:dashed 1px #666666;
}
.line{
	display:block;
	border-bottom:#333 dashed 2px;
}
h1.line span{
	display: inline-block;
	border-bottom:#333 solid 2px;
	font-size: 17px;
}

/*************************************************/

.cmtscontent{
	display:block;
	padding:5px;
	background-color:#CCC;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	width:610px;
}
.cmtbox{
	display: inline-block;
	height: auto;
	width:600px;
	background-color: #FFF;/*白色*/
	border-radius:6px;
	margin:5px;
}
.cmtbox>a>img{
	display: inline-block;
	width:50px;
	height:50px;
}
.cmtbox>ul{
	position: relative;
	display: inline-block;
	float:right;
	overflow:hidden;
	width:540px;
	padding:5px;
	list-style:none;
	
}
.cmtbox .score{
	float: right;
	border:yellow solid 1px;
}
.score>*{
	float:left;
	}
.answer{
	display:none;
	}

/*************************************************/
.loginbox{
	display: inline;
	float: right;
	margin-top:3px;
}
.cmtscontent p{
	display: inline;
	float: right;
	margin-top:10px;
}
.cmtscontent>p>a,strong{
	margin-left:5px;
}
.cmtscontent>p>a{
	border:#CCC solid 1px;
	background: #FFF;
	border-radius:4px;
}
.cmtscontent>p>a:hover{
	border: #000 solid 1px;
	background: #000;
	color:#FFF;
	border-radius:4px;
}
#class_nav>h1{
	width:620px;
}
#comment>h1{
	width:620px;
}

/*选修课话题*/
.headline>a{
	color: #930;
}
.headline>.person{
	color: #990;
}
.headline>a:hover{
	color:#CCC;
}
/*公告栏部分*/
#right_notice>p{
	margin-left:10px;
	margin-right:10px;
}
/*活跃排名部分*/
.top_three>ul>li{
	margin-top:7px;
	margin-left:10px;
	width:70px;
}
.square{
	background-color:#000;
	color:#FFF;
}
.square0{
	background-color: #191919;
	color:#FFF;
}
.square1{
	background-color: #434343;
	color:#FFF;
}
.square2{
	background-color: #585858;
	color:#FFF;
}
.square3{
	background-color: #828282;
	color:#FFF;
}
.square4{
	background-color: #979797;
	color:#FFF;
}
.square5{
	background-color: #ACACAC;
	color:#FFF;
}
.square6{
	background-color: #B0B0B0;
	color:#FFF;
}
.square7{
	background-color: #C5C5C5;
	color:#FFF;
}
.square8{
	background-color: #EBEBEB;
	color:#FFF;
}/*square到square8，灰度模式降色*/
.top_three>ul>.square{
	display: block;
	text-align: center;
	border-radius:4px;
	width:18px;
	float:left;
	}
.top_three>ul>.square:hover{
	background-color:#033;
	}
.f-right{
	float:right;
}
.top_three>ul>.stu_name{
	width:130px;
	}
/*说一句部分*/
.talk {
	position: relative;
	left: 0px;
	top: 0px;
	width: 330px;
	height: auto;
	margin-left: 10px;
	/*background-color: #0C0;*/
	z-index: 1;
}
.SmallPortrait{/*图像*/
	width:50px;
	height:50px;
	}
#TForm{
	display:block;
	
	}
#TForm textarea{/*文本框*/
	height:38px;
	width:270px;
	border:#030 solid 1px;
	resize: none;
	}
.btn_sub{
	display:inline-block;
	float:right;
	border:none;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	height:40px;
	background:#030;
	position: absolute;
    right: 18px;
    width: 40px;
	color: #FFF;
	}/*按钮*/
.TopTweets{
	
	}
.tk_log{
	word-break:break-all;

	}
.tk_time{
	display: block;
	text-align:left;
	}

.tk_user{
	float:left;
	}
.TopTweets>li{
	margin-bottom:3px;
	overflow: hidden;
	border-bottom: #CCC 1px dashed;
	}
.TopTweets>li>span{
	display: inline-block;
	}
.TopTweets>li>.tk_body{
	width:40px;
	display:inline-block;
	float: left;
    position: relative;
    width: 253px;
	overflow:hen;
	}
.TopTweets>li>.portrait{
	float:left;
	}

